<% @side_bar = true %>
<% @skip_footer = true %>
<% @skip_header = true %>

<h1>Stage 1 Battle!</h1>
<div class="divider"></div>


<div class="row bordering">
  <div class="col s2">Name: <%= @monster.name %></div>
  <div class="col s2"></div>
  <div class="col s2">HP: <%= @monster.hp %></div>
  <div class="col s2"></div>
  <div class="col s2 offset-s4"><img class="resize" src="<%= @monster.image %>" /></div>
  <!-- <div class="col s2"></div> -->
</div>

<div class="row">
</div>

<div class="row bordering">
  <div class="col s2">Name: <%= @character.name %></div>
  <div class="col s2"><img class="resize" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQxVseMZMGd0d0bC-HdC4z_9NMZ2jtfZqgM-ySGt7tzz5rs8U3LwA" /></div>
  <div class="col s2"></div>
  <div class="col s2 offset-s1">HP: <%= @character.hp %></div>
  <div class="col s2"></div>
  <div class="col s2"></div>
</div>


<p>
  <% if @character.hp <= 0 || @monster.hp <= 0 %>
    <div><%= @message %></div>
    <% if @character.hp <= 0 %>
    <img src="/img/deal_with_it.gif" />
    <% elsif @monster.hp <= 0 %>
      <img src="/img/like_a_boss.gif" />
    <% end %>
  <% else %>

    <form action="/character/<%= @character.id %>/battle/<%= @monster.id %>" method="POST">
      <input class="btn" type="submit" name="action" value="Attack" />
    </form>
  <% end %>
</p>
