
<% @side_bar = true %>

<p>Yay! I'm playing now</p>

<li>Name: <%= @character.name %></li>

<li>HP: <%= @character.hp %></li>
<li>XP: <%= @character.xp %></li>
<li>Level: <%= @character.level %></li>
<li>Attack: <%= @character.atk %></li>
<li>Armor: <%= @character.def %></li>
