
<% @side_bar = true %>
<% @skip_footer = true %>
<% @skip_header = true %>

<h1>Profile</h1>
<div class="divider"></div>

<li>Name: <%= @character.name %></li>

<li>HP: <%= @character.hp %> / <%= @character.max_hp %></li>
<li>XP: <%= @character.xp %></li>
<li>Level: <%= @character.level %></li>
<li>Attack: <%= @character.atk %></li>
<li>Armor: <%= @character.def %></li>
