<!-- single character profile page -->

<!-- display character image -->

<h1>Character Page</h1>

<h3>User: <a href="/profile/<%= @character.user.id %>"><%= @character.user.username %></a></h3>

<ul>
  <li>
    <!-- Make this dynamic with javascript / EDIT name option  -->
    Name: <%= @character.name %>
  </li>
  <li>HP: <%= @character.hp %></li>
  <li>XP: <%= @character.xp %></li>
  <li>Level: <%= @character.level %></li>
  <li>Attack: <%= @character.atk %></li>
  <li>Armor: <%= @character.def %></li>
  <!-- <li>Days Old: <%= @character.created_at %></li> -->
  <!-- <li>Last Played: <%= @character.updated_at %></li> -->
</ul>




  <!-- Back Button -->

  <div>
    <a href="/profile/<%= @user.id %>" class="button btn">Back to Profile</a>
  </div>

  <br/>


  <!-- Play Game Button -->
  <!-- Action requires page to game interface -->

  <div>
    <a href="/character/<%= params[:id] %>/play" class="button btn">Play Game</a>
  </div>

<% if @user_chars_by_id.include?( params[:id].to_i ) %>

  <br/>
  <!-- Delete Character -->

  <% if @form_error %>
    <div><%= @form_error %></div>
  <% end %>

  <br/>

  <div class="row">
    <div class="deleteform input-field col s4">
      <p>Delete Character:</p>
      <form action="/profile/<%= auth_current_user.id %>/character/<%= @character.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">

        <input type="text" name="confirm_pw">

        <input onclick="return confirm('Are you sure you want to delete this character?')" type="submit" class="btn" value="Delete" />
      </form>
    </div>
  </div>
  <% end %>
