
<% @skip_header = true %>
<% @skip_footer = true %>




<nav>
  <div class="nav-wrapper teal">
    <p><center><%= @character.name %></center></p>
    <ul id="nav-mobile" class="left random-max-width">

      <div class="divider"></div>

      <li class="li-max-width"><a href="/character/<%= params[:id] %>/play" >Profile</a></li><br/>

      <li class="li-max-width"><a href="/character/<%= params[:id] %>/inventory" >Inventory</a></li><br/>

      <li class="li-max-width"><a href="/character/<%= params[:id] %>/map" >Explore Stages</a></li><br/>

      <li class="li-max-width"><a href="/character/<%= params[:id] %>/settings" >Settings</a></li><br/>

      <li class="li-max-width"><a href="/character/<%= params[:id] %>/pun" >Rajal Pun</a></li><br/>

      <li class="li-max-width"><a href="/profile/<%= auth_current_user.id %>" >Exit Play Mode</a></li><br/>

      <li class="li-max-width"><a href="/logout">Logout</a></li>

    </ul>
  </div>
</nav>
