<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <!-- Google Fonts / Not Working? -->
  <link href='http://fonts.googleapis.com/css?family=Orbitron:400,900|Marcellus+SC|Press+Start+2P|Iceland|VT323' rel='stylesheet' type='text/css'>

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


  <title>Basic RPG</title>
</head>
<header>
  <%= erb :_header unless @skip_header %>
</header>
<main>


  <% if @side_bar == true %>
    <% if auth_current_user && @character.user.id == auth_current_user.id %>
      <div class="row" id="wrap-this-thing">
        <div class="col s3" id="side-navbar">
          <%= erb :_navbar %>
        </div>
        <div class="container">
          <div class="col s9" id="other-layout">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <p>You aren't allowed to view this page!</p>
    <% end %>
  <% else %>
    <div id='wrap-this-yield' class="container">
      <%= yield %>
    </div>
  <% end %>


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/bin/materialize.js"></script>
</main>
<footer>
  <%= erb :_footer unless @skip_footer %>
</footer>
</html>
